@font-face {
    font-family: 'Simvoni';
    src: url("/Simvoni.ttf") format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Simvoni';
    src: url("/Simvoni.ttf") format('truetype'), local('Arial'); 
    unicode-range: U+2665;
}


::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-thumb {background: #322A36;}
::-webkit-scrollbar-track {background: #59545C;}

body {
  background-color: #423a45;
  color: #FFFFFF;
  font-family: 'Simvoni';
  margin: 1.5em auto 2em auto;
  overflow: auto;
}

a {color: #FFFFFF66; text-decoration: none;}

a:hover {text-shadow: #FFFFFF66 0 0 3px;}

.content {
  text-align: center;
  text-shadow: -1px 1px #211c24;
  box-shadow: #322A3680 0 5px 10px;
  background: #322a36;
  width: 60%;
  font-size: 17px;
  padding: 10px;
  overflow: auto;
  margin: 2em auto 3em auto ;
  border: 1px solid #413A45;
  border-radius: 4px;
}

.intro img {
    width: 40%;
    float: right;
    padding: 5px 5px 5px 0;
 }

.heador {
  list-style: none;
  font-size: 25px;
  /* background: #00000080; */
  padding: 0;
  margin: auto;
  text-align: center;
  word-spacing: 6px;
  /* width: 450px; */
  transition: /* width  0.4s,  background 0.4s, */ word-spacing 0.4s;
  }

.heador:hover {
  /* background: #000000; */
  transition: /* width  0.4s,  background 0.4s, */ word-spacing 0.4s;
  /* width: 500px; */
  word-spacing: 12px;
}

.heador li {
  display: inline;
}

.heador a {
  color: white;
  border-bottom: #322A3600 solid 2px;
  transition: border-bottom 0.3s;
}

.heador a:hover {
  border-bottom: #322A36 solid 2px;
  transition: border-bottom 0.3s;
  text-shadow: #FFFFFF 0 0 3px;
}

.aboutie {
  word-spacing: 1.5pt;
  line-height: 21px;
}

.quote::after, .quote::before {
  content: '"';
}

.quote {
  font-size:16px;
  margin:2px;
  padding-bottom: 4px;
}

.quotesource {
  color:#b0b0b0;
}

h1, h2 {margin-bottom: 6px; color: #9b969e;}

.blockqwote {
    border-left: 3px solid white;
    padding: 5px;
}

blockquote {
  margin-bottom: 1px;
  margin-top: 1px;
  font-size: 14px;
}

footer {
  border-top: #59545c solid 2px;
  color: #59545c;
  font-size: 15px;
  width: 95%;
  margin: auto;
  padding-top: 0.5%;
}

footer li {display: inline;}

.footertextleft {float: left;line-height: 16px;}

.footertextright {float: right;}


/* 404 page */

.error {
  font-size: 25px;
  text-align: center;
}

.error img {
   width: 30%;
   margin-top: 2em;
   position: fixed;
   left: 35%;
}


/* MO BILE SEE ESS ESS */

/** Phones - portrait **/

@media (min-width: 320px) and (max-width: 480px) {

.content {
    width: 90%;
    font-size: 18px;
  }

  .intro img {
    width: 80%;
    float: none;
 }

 .heador {
  font-size: 21px;
 }
    
  footer { padding-top: 1%;}

  footer li {
   display: block;
   text-align:center;
   font-size: 17px;
}

  .footertextleft, .footertextright {float: none;}

  .footertextright {padding-top:5px;}
}


/** Phones - landscape **/

@media (min-width: 481px) and (max-width: 767px) {

.content {
    width: 95%;
  }

   .intro img {
   width: 50%;
   padding-top: 2em;
  }
}


/** iPad - portrait **/
@media (min-width: 768px) and (max-width: 1024px) {

 .content {
   width: 95%;
   font-size: 24px;
 }

  .intro img { 
   width: 50%; 
   padding-top: 5em;
}
   
  .introtext {  width: 50%; }

  .heador {  font-size: 30px; }

   footer {  font-size: 20px; }

   footer li {
   display: block;
   text-align:center;
   font-size: 21px;
}

  .footertextleft, .footertextright {float: none;}

  .footertextright {padding-top:5px};
}


/** iPad - landscape **/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

 .content {
   width: 95%;
   font-size: 24px;
 }

   .intro img { 
   width: 40%; 
   padding-top: 0;
}

 .introtext {  width: 60%; }

 .heador { font-size: 30px; }

  footer { font-size: 20px; }
}


/** iPhone 10 landscape ://// **/

@media (width: 812px) {

 .content {
   width: 95%;
   font-size: 18px;
 }

  .introtext {
   width: initial;
 }

  .intro img {
   width: 38%;
   padding: initial;
 }

   footer li {
  font-size: 16px;
 }

}
