body {
  background-color: #575757;
  color: #FFFFFF;
  font-family: 'Arial';
  margin: 50px auto;
}

.content {
  box-shadow: #2b2b2b 0 0 10px;
  background: #2b2b2b;
  margin: 50px;
  width: 630px;
  margin: auto;
  font-size: 14px;
  padding:4px;
}

.heador {
  list-style: none;
  font-size: 13px;
  border: black 2px solid;
  border-radius: 4px;
  background: black;
  padding: 5px;
  margin: auto;
  text-align: center;
  width: 250px;
  margin-bottom: 2%;
}


.heador li {
  padding-bottom: 5px;
  display: inline;
}

.heador a {
  text-decoration: none;
}

a {
  color: white;
}

a:hover {
  font-weight: bold;
  text-shadow: white 0 0 2px;
}

.quote::after {
content: '"';
}

.quote::before {
content: '"';
}

.quote {
  font-size:16px;
  margin:2px;
  padding-bottom: 4px;
}

.quotesource {
  color:#b0b0b0;
}

h1, h2 {
  margin-bottom: 6px;
}

.blockqwote {
    border-left: 3px solid white;
    padding: 5px;
}

blockquote {
  margin-bottom: 1px;
  margin-top: 1px;
  font-size:14px;
}
