<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/the.css">
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/x-icon" href="img/favi.ico">
</head>
<body>
<script src="pjax.min.js"></script>
<nav>
  <ul class=heador>
    <li><a href="/">Intro</a></li>
    <li><a href ="/aboutie">About</a></li>
    <a href="/quotes"><li>Quotes</li></a>
    </ul>
</nav>
<style>
</style>
<div class="container">
  <div class="content">
{{ content }}
  </div>
</div>
<footer>
 <ul style="margin: 0; padding: 0;">
   <li class="footerleft">Deleca7755, 2020 ― present. Made with <s>♥︎&#xFE0E; or something like that</s> <a href="https://github.com/">GitHub</a></li><li class="footerright">Font Simvoni by Amru</li>
  </ul>
</footer>
<script type="text/javascript">
  var pjax = new Pjax({
  cacheBust: false,
  elements: "a",
  selectors: [".content"]
});
</script>
</body>
