<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/the.css">
<html>
<head>
<title>{{ page.title }}</title>
</head>
<body>
<div class="container">
<nav>
  <ul class=heador>
    <li><a href="https://deleca7755.github.io/">Intro</a></li>
    <li><a href ="/aboutie/">About</a></li>
    <s><li>Jukebox</li></s>
    <s><li>Poems</li></s>
    <a href="/quotes/"><li>Quotes</li></a>
    </ul>
</nav>
<style>
</style>
  <div class="content">
{{ content }}
  </div>
<div class="footor">
<p class="footertextleft">Deleca7755, 2020 ― present. Made with <s>🎔 or something like that</s> <a href="https://github.com/">GitHub</a></p><p class="footertextright">Font Simvoni by Amru</p>
</div>
</div>
</body>
