<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/the.css">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/pjax@0.2.8/pjax.min.js"></script>
<nav>
  <ul class=heador>
    <li><a href="/">Intro</a></li>
    <li><a href ="/aboutie/">About</a></li>
    <s><li>Jukebox</li></s>
    <s><li>Poems</li></s>
    <a href="/quotes/"><li>Quotes</li></a>
    </ul>
</nav>
<style>
</style>
  <div class="content">
{{ content }}
  </div>
<footer>
 <ul style="margin: 0; padding: 0;">
   <li class="footertextleft">Deleca7755, 2020 ― present. Made with <s>♥︎&#xFE0E; or something like that</s> <a href="https://github.com/">GitHub</a></li><li class="footertextright">Font Simvoni by Amru</li>
  </ul>
</footer>
<script type="text/javascript">
  var pjax = new Pjax({
  elements: "a",
  selectors: [".content"]
});
</script>
</body>
